spring:
  profiles:
    active: "production"

---
spring:
  profiles: production
  datasource:
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://us-cdbr-iron-east-02.cleardb.net:3306/heroku_3c1b9b08f2df919
    username: b335815f83cb19
    password: dc883b51
  jpa:
    hibernate.ddl-auto: update
    generate-ddl: true
    show-sql: true
---

spring:
  profiles: development
  datasource:
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/tcp_db
    username: root
    password: password
  jpa:
    hibernate.ddl-auto: update
    generate-ddl: true
    show-sql: true
